.resources-and-page-uQ6tP {
	view-timeline-inset: 0px;
	view-timeline: none;
	view-transition-name: none;
}
.page-3GImu {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	view-timeline: none;
	view-transition-name: none;
}
.page-wjfyF {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	view-timeline-inset: 0px;
	view-transition-name: none;
}
.resources-and-page-ZDYty {
	baseline-source: auto;
	view-timeline: none;
	view-transition-name: none;
}
.resources-and-page-tMWdF {
	baseline-source: auto;
	view-timeline-inset: 0px;
	view-timeline: none;
}
.resources-and-page-B9YN4 {
	baseline-source: auto;
	view-timeline-inset: 0px;
	view-transition-name: none;
}
.page-houO8 {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	baseline-source: auto;
	view-timeline: none;
}
.page-2ZGKj {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	baseline-source: auto;
	view-transition-name: none;
}
.resources-page-R42wI {
	baseline-source: auto;
	box-sizing: border-box;
	view-timeline: none;
}
.resources-and-page-MqL8Y {
	baseline-source: auto;
	scroll-timeline: none;
	view-timeline: none;
}
.resources-page-T2tq9 {
	box-sizing: border-box;
	scroll-timeline: none;
	view-timeline: none;
}
.page-xDNCy {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	baseline-source: auto;
	box-sizing: border-box;
}
.page-0Y7YV {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	baseline-source: auto;
	scroll-timeline: none;
}
.page-WxeSo {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	scroll-timeline: none;
}
.page-1FTp5 {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	scroll-timeline: none;
	view-timeline: none;
}
.page-KQunS {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	baseline-source: auto;
	white-space: normal;
}
.resources-and-page-J2UPy {
	-webkit-locale: "en";
	animation-range: normal;
	baseline-source: auto;
}
.resources-and-page-D1CsC {
	-webkit-locale: "en";
	animation-range: normal;
	view-timeline: none;
}
.resources-and-page-s2EnJ {
	-webkit-locale: "en";
	baseline-source: auto;
	view-timeline: none;
}
.resources-and-page-NATT0 {
	animation-range: normal;
	baseline-source: auto;
	view-timeline: none;
}
.resources-and-page-cPN3z {
	-webkit-locale: "en";
	animation-timeline: auto;
	baseline-source: auto;
}
.resources-and-page-sE7Rk {
	animation-range: normal;
	animation-timeline: auto;
	baseline-source: auto;
}
.and-page-6zAkA {
	-webkit-locale: "en";
	animation-timeline: auto;
	view-timeline: none;
}
.resources-and-page-qrfTB {
	animation-range: normal;
	animation-timeline: auto;
	view-timeline: none;
}
.resources-and-page-LBcPT {
	animation-timeline: auto;
	baseline-source: auto;
	view-timeline: none;
}
.resources-page-3zFEo {
	box-sizing: border-box;
	scroll-timeline: none;
	text-size-adjust: 100%;
}
.resources-page-cRKAb {
	baseline-source: auto;
	box-sizing: border-box;
	text-size-adjust: 100%;
}
.resources-page-CLxYr {
	baseline-source: auto;
	scroll-timeline: none;
	text-size-adjust: 100%;
}
.resources-page-MJLHJ {
	-webkit-locale: "en";
	box-sizing: border-box;
	scroll-timeline: none;
}
.resources-and-page-Pg7EJ {
	-webkit-locale: "en";
	baseline-source: auto;
	scroll-timeline: none;
}
.resources-page-O5hJc {
	-webkit-locale: "en";
	box-sizing: border-box;
	text-size-adjust: 100%;
}
.resources-page-hlSTe {
	-webkit-locale: "en";
	scroll-timeline: none;
	text-size-adjust: 100%;
}
.page-gkSrt {
	-webkit-locale: "en";
	baseline-source: auto;
	text-size-adjust: 100%;
}
.resources-page-BrLCq {
	animation-range: normal;
	box-sizing: border-box;
	scroll-timeline: none;
}
.page-vYpB3 {
	animation-range: normal;
	baseline-source: auto;
	box-sizing: border-box;
}
.resources-and-page-Rxtp4 {
	animation-range: normal;
	baseline-source: auto;
	scroll-timeline: none;
}
.resources-page-BVdxB {
	animation-range: normal;
	box-sizing: border-box;
	text-size-adjust: 100%;
}
.resources-page-d7yAM {
	animation-range: normal;
	scroll-timeline: none;
	text-size-adjust: 100%;
}
.resources-page-TaQde {
	animation-range: normal;
	baseline-source: auto;
	text-size-adjust: 100%;
}
.resources-page-j34Kt {
	-webkit-locale: "en";
	animation-range: normal;
	box-sizing: border-box;
}
.resources-and-page-VYyk4 {
	-webkit-locale: "en";
	animation-range: normal;
	scroll-timeline: none;
}
.resources-page-dbRw9 {
	-webkit-locale: "en";
	animation-range: normal;
	text-size-adjust: 100%;
}
.resources-page-1pnPa {
	scroll-timeline: none;
	text-size-adjust: 100%;
	view-timeline: none;
}
.resources-page-aAZZB {
	scroll-timeline: none;
	text-size-adjust: 100%;
	view-transition-name: none;
}
.resources-page-UsGDr {
	box-sizing: border-box;
	scroll-timeline: none;
	view-transition-name: none;
}
.resources-page-pJySl {
	box-sizing: border-box;
	text-size-adjust: 100%;
	view-transition-name: none;
}
.resources-and-page-9opsz {
	scroll-timeline: none;
	view-timeline: none;
	view-transition-name: none;
}
.resources-page-Zq3uV {
	text-size-adjust: 100%;
	view-timeline: none;
	view-transition-name: none;
}
.resources-and-page-mhql4 {
	-webkit-locale: "en";
	animation-range: normal;
	view-timeline-inset: 0px;
}
.resources-and-page-jlBhM {
	animation-range: normal;
	baseline-source: auto;
	view-timeline-inset: 0px;
}
.resources-and-page-K7qkl {
	-webkit-locale: "en";
	baseline-source: auto;
	view-timeline-inset: 0px;
}
.resources-and-page-VGj7i {
	scroll-timeline: none;
	view-transition-name: none;
	white-space: normal;
}
.resources-page-f7ety {
	text-size-adjust: 100%;
	view-transition-name: none;
	white-space: normal;
}
.resources-page-IGAkC {
	scroll-timeline: none;
	text-size-adjust: 100%;
	white-space: normal;
}
.page-jsrTy {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	animation-timeline: auto;
	view-transition-name: none;
}
.resources-and-page-6Ylak {
	animation-timeline: auto;
	scroll-timeline: none;
	view-transition-name: none;
}
.page-u0cDR {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	scroll-timeline: none;
	view-transition-name: none;
}
.page-ToM8k {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	animation-timeline: auto;
	scroll-timeline: none;
}
.resources-and-page-iEnGK {
	-webkit-locale: "en";
	animation-timeline: auto;
	view-transition-name: none;
}
.page-mIaee {
	-webkit-locale: "en";
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	view-transition-name: none;
}
.page-aLYd4 {
	-webkit-locale: "en";
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	animation-timeline: auto;
}
.resources-and-page-02AF2 {
	-webkit-locale: "en";
	scroll-timeline: none;
	view-transition-name: none;
}
.and-page-iVAUT {
	-webkit-locale: "en";
	animation-timeline: auto;
	scroll-timeline: none;
}
.page-5IQBV {
	-webkit-locale: "en";
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	scroll-timeline: none;
}
.resources-and-page-ZyMaA {
	animation-composition: replace;
	baseline-source: auto;
	view-timeline-inset: 0px;
}
.resources-and-page-cFZNy {
	animation-composition: replace;
	animation-range: normal;
	baseline-source: auto;
}
.resources-and-page-ypvlI {
	animation-composition: replace;
	animation-range: normal;
	view-timeline-inset: 0px;
}
.resources-and-page-NYx6A {
	animation-composition: replace;
	baseline-source: auto;
	view-transition-name: none;
}
.resources-and-page-fSB11 {
	animation-composition: replace;
	view-timeline-inset: 0px;
	view-transition-name: none;
}
.resources-and-page-seDnt {
	animation-range: normal;
	baseline-source: auto;
	view-transition-name: none;
}
.resources-and-page-hgQe1 {
	animation-composition: replace;
	animation-range: normal;
	view-transition-name: none;
}
.resources-and-page-W0L63 {
	animation-range: normal;
	view-timeline-inset: 0px;
	view-transition-name: none;
}
.resources-page-vS6LE {
	animation-composition: replace;
	baseline-source: auto;
	box-sizing: border-box;
}
.resources-page-KV1Wp {
	baseline-source: auto;
	box-sizing: border-box;
	view-timeline-inset: 0px;
}
.resources-page-1YoA3 {
	animation-composition: replace;
	box-sizing: border-box;
	view-timeline-inset: 0px;
}
.resources-page-gU8OF {
	animation-composition: replace;
	animation-range: normal;
	box-sizing: border-box;
}
.resources-page-jGy5P {
	animation-range: normal;
	box-sizing: border-box;
	view-timeline-inset: 0px;
}
.page-9kQ4Q {
	animation-composition: replace;
	box-sizing: border-box;
	view-transition-name: none;
}
.resources-page-WdyZu {
	box-sizing: border-box;
	view-timeline-inset: 0px;
	view-transition-name: none;
}
.resources-page-qEjcb {
	animation-range: normal;
	box-sizing: border-box;
	view-transition-name: none;
}
.page-dclzz {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	scroll-timeline: none;
	view-timeline-inset: 0px;
}
.page-bGOi4 {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-size-adjust: 100%;
	view-timeline-inset: 0px;
}
.resources-page-ENJ39 {
	scroll-timeline: none;
	text-size-adjust: 100%;
	view-timeline-inset: 0px;
}
.page-bZc6h {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	scroll-timeline: none;
	text-size-adjust: 100%;
}
.resources-and-page-A1ejF {
	scroll-timeline: none;
	view-timeline-inset: 0px;
	view-timeline: none;
}
.resources-page-IMf8I {
	text-size-adjust: 100%;
	view-timeline-inset: 0px;
	view-timeline: none;
}
.page-TJOpf {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	view-timeline-inset: 0px;
	white-space: normal;
}
.resources-and-page-5Ncjy {
	scroll-timeline: none;
	view-timeline-inset: 0px;
	white-space: normal;
}
.page-eTODl {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	scroll-timeline: none;
	white-space: normal;
}
.resources-page-QELfd {
	text-size-adjust: 100%;
	view-timeline-inset: 0px;
	white-space: normal;
}
.resources-and-page-JQhZr {
	scroll-timeline: none;
	view-timeline: none;
	white-space: normal;
}
.resources-page-mAolz {
	text-size-adjust: 100%;
	view-timeline: none;
	white-space: normal;
}
.resources-and-page-kFbIT {
	-webkit-locale: "en";
	view-transition-name: none;
	white-space: normal;
}
.resources-and-page-fbglQ {
	-webkit-locale: "en";
	animation-composition: replace;
	view-transition-name: none;
}
.resources-and-page-unkQL {
	-webkit-locale: "en";
	animation-range: normal;
	white-space: normal;
}
.resources-and-page-d02D3 {
	animation-range: normal;
	view-transition-name: none;
	white-space: normal;
}
.resources-and-page-WvSC1 {
	-webkit-locale: "en";
	animation-range: normal;
	view-transition-name: none;
}
.resources-and-page-E5G2C {
	animation-composition: replace;
	animation-range: normal;
	white-space: normal;
}
.page-ugjyc {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	view-transition-name: none;
	white-space: normal;
}
.page-0RNgO {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	animation-composition: replace;
	view-transition-name: none;
}
.page-boKH3 {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	animation-range: normal;
	white-space: normal;
}
.page-4h6dT {
	-webkit-locale: "en";
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	animation-range: normal;
}
.page-kdoDG {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	animation-range: normal;
	view-transition-name: none;
}
.resources-page-zJgeR {
	animation-range: normal;
	text-size-adjust: 100%;
	view-transition-name: none;
}
.page-CrOVf {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	animation-range: normal;
	text-size-adjust: 100%;
}
.page-h0UWs {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-size-adjust: 100%;
	view-transition-name: none;
}
.resources-and-page-RVKQk {
	animation-range: normal;
	scroll-timeline: none;
	view-transition-name: none;
}
.page-wJ1VN {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	animation-range: normal;
	scroll-timeline: none;
}
.resources-and-page-9ptmS {
	animation-timeline: auto;
	scroll-timeline: none;
	white-space: normal;
}
.resources-page-6VOUs {
	animation-timeline: auto;
	box-sizing: border-box;
	scroll-timeline: none;
}
.resources-page-EUxJh {
	animation-timeline: auto;
	box-sizing: border-box;
	white-space: normal;
}
.resources-page-AyThM {
	animation-timeline: auto;
	scroll-timeline: none;
	text-size-adjust: 100%;
}
.resources-page-pk3jy {
	animation-timeline: auto;
	box-sizing: border-box;
	text-size-adjust: 100%;
}
.resources-page-82eQQ {
	box-sizing: border-box;
	text-size-adjust: 100%;
	white-space: normal;
}
.resources-and-page-0KOGi {
	animation-timeline: auto;
	scroll-timeline: none;
	view-timeline: none;
}
.and-page-EVUT2 {
	animation-timeline: auto;
	view-timeline: none;
	white-space: normal;
}
.page-UZxWu {
	animation-timeline: auto;
	box-sizing: border-box;
	view-timeline: none;
}
.resources-page-pnHta {
	animation-timeline: auto;
	text-size-adjust: 100%;
	view-timeline: none;
}
.resources-page-s9tyE {
	animation-composition: replace;
	box-sizing: border-box;
	text-size-adjust: 100%;
}
.resources-page-P5N47 {
	-webkit-locale: "en";
	text-size-adjust: 100%;
	view-timeline: none;
}
.page-Hzzxw {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	animation-composition: replace;
	scroll-timeline: none;
}
.resources-and-page-mlfmf {
	animation-composition: replace;
	scroll-timeline: none;
	view-transition-name: none;
}
.resources-page-CzWfG {
	animation-composition: replace;
	scroll-timeline: none;
	text-size-adjust: 100%;
}
.resources-page-7JJwc {
	animation-composition: replace;
	text-size-adjust: 100%;
	view-transition-name: none;
}
.page-mmIAW {
	-webkit-locale: "en";
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-size-adjust: 100%;
}
.resources-page-97WRJ {
	animation-range: normal;
	text-size-adjust: 100%;
	white-space: normal;
}
.resources-page-Bijta {
	-webkit-locale: "en";
	text-size-adjust: 100%;
	white-space: normal;
}
.page-BB663 {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	animation-range: normal;
	view-timeline-inset: 0px;
}
.resources-and-page-GfKik {
	animation-range: normal;
	view-timeline-inset: 0px;
	white-space: normal;
}
.resources-and-page-l13co {
	-webkit-locale: "en";
	view-timeline-inset: 0px;
	white-space: normal;
}
.resources-page-9yHOf {
	animation-range: normal;
	text-size-adjust: 100%;
	view-timeline-inset: 0px;
}
.resources-page-aFUaf {
	-webkit-locale: "en";
	text-size-adjust: 100%;
	view-timeline-inset: 0px;
}
.resources-and-page-KMo0y {
	animation-range: normal;
	scroll-timeline: none;
	white-space: normal;
}
.resources-and-page-JTH4x {
	baseline-source: auto;
	scroll-timeline: none;
	white-space: normal;
}
.resources-and-page-u2CSp {
	animation-range: normal;
	baseline-source: auto;
	white-space: normal;
}
.resources-page-amReU {
	baseline-source: auto;
	text-size-adjust: 100%;
	white-space: normal;
}
.page-qdTqO {
	box-sizing: border-box;
	view-timeline-inset: 0px;
	view-timeline: none;
}
.page-8LLE6 {
	box-sizing: border-box;
	scroll-timeline: none;
	view-timeline-inset: 0px;
}
.resources-and-page-hy8vV {
	animation-composition: replace;
	scroll-timeline: none;
	view-timeline-inset: 0px;
}
.resources-and-page-uErsK {
	animation-composition: replace;
	scroll-timeline: none;
	view-timeline: none;
}
.resources-page-LlxtL {
	animation-composition: replace;
	box-sizing: border-box;
	scroll-timeline: none;
}
.resources-and-page-5iJUq {
	-webkit-locale: "en";
	view-timeline-inset: 0px;
	view-transition-name: none;
}
.resources-and-page-A7WbA {
	animation-range: normal;
	animation-timeline: auto;
	view-transition-name: none;
}
.and-page-UgEP6 {
	animation-timeline: auto;
	view-transition-name: none;
	white-space: normal;
}
.resources-and-page-g4vAw {
	animation-range: normal;
	animation-timeline: auto;
	white-space: normal;
}
.resources-and-page-JQAAD {
	animation-composition: replace;
	baseline-source: auto;
	white-space: normal;
}
.resources-and-page-8MnYc {
	baseline-source: auto;
	view-timeline-inset: 0px;
	white-space: normal;
}
.page-jwVvj {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	animation-range: normal;
	animation-timeline: auto;
}
.page-5s9lB {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	animation-timeline: auto;
	white-space: normal;
}
.page-2gW2R {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	animation-range: normal;
	box-sizing: border-box;
}
.resources-page-dSKoC {
	animation-range: normal;
	box-sizing: border-box;
	white-space: normal;
}
.page-N6SKK {
	animation-range: normal;
	animation-timeline: auto;
	box-sizing: border-box;
}
.page-57j4q {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	text-size-adjust: 100%;
}
.resources-and-page-oM1Eq {
	-webkit-locale: "en";
	scroll-timeline: none;
	view-timeline-inset: 0px;
}
.and-page-Rychf {
	-webkit-locale: "en";
	scroll-timeline: none;
	white-space: normal;
}
.page-zKRzA {
	animation-range: normal;
	box-sizing: border-box;
	view-timeline: none;
}
.resources-and-page-IIzW5 {
	animation-composition: replace;
	animation-timeline: auto;
	view-timeline-inset: 0px;
}
.resources-and-page-S8K6U {
	scroll-timeline: none;
	view-timeline-inset: 0px;
	view-transition-name: none;
}
.resources-page-4LaPp {
	box-sizing: border-box;
	view-timeline-inset: 0px;
	white-space: normal;
}
.resources-page-IIZoy {
	-webkit-locale: "en";
	text-size-adjust: 100%;
	view-transition-name: none;
}
.resources-and-page-jeTt8 {
	animation-timeline: auto;
	view-timeline: none;
	view-transition-name: none;
}
.resources-page-fx1NY {
	animation-timeline: auto;
	text-size-adjust: 100%;
	view-transition-name: none;
}
.resources-and-page-McwAg {
	animation-timeline: auto;
	baseline-source: auto;
	white-space: normal;
}
.and-page-38kHZ {
	-webkit-locale: "en";
	scroll-timeline: none;
	view-timeline: none;
}
.resources-and-page-U0J1t {
	animation-range: normal;
	scroll-timeline: none;
	view-timeline: none;
}
.page-JtyNS {
	-webkit-locale: "en";
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	view-timeline: none;
}
.page-KZACL {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	animation-range: normal;
	view-timeline: none;
}
.page-W2180 {
	-webkit-locale: "en";
	box-sizing: border-box;
	view-timeline: none;
}
.resources-page-hqlKK {
	animation-composition: replace;
	text-size-adjust: 100%;
	view-timeline: none;
}
.resources-page-vvMPZ {
	animation-composition: replace;
	animation-timeline: auto;
	text-size-adjust: 100%;
}
.resources-and-page-WtyW5 {
	-webkit-locale: "en";
	view-timeline-inset: 0px;
	view-timeline: none;
}
.resources-page-BPKLd {
	box-sizing: border-box;
	text-size-adjust: 100%;
	view-timeline-inset: 0px;
}
.resources-and-page-1CHTt {
	view-timeline-inset: 0px;
	view-transition-name: none;
	white-space: normal;
}
.page-A3g09 {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	animation-range: normal;
	baseline-source: auto;
}
.resources-page-dqbEv {
	baseline-source: auto;
	text-size-adjust: 100%;
	view-timeline-inset: 0px;
}
.resources-page-UeKqe {
	baseline-source: auto;
	text-size-adjust: 100%;
	view-transition-name: none;
}
.resources-page-fm3kN {
	text-size-adjust: 100%;
	view-timeline-inset: 0px;
	view-transition-name: none;
}
.page-Fvlkf {
	animation-composition: replace;
	box-sizing: border-box;
	white-space: normal;
}
.resources-page-dQt5W {
	animation-composition: replace;
	baseline-source: auto;
	text-size-adjust: 100%;
}
.resources-page-xubqb {
	animation-timeline: auto;
	box-sizing: border-box;
	view-transition-name: none;
}
.resources-and-page-0KW8U {
	-webkit-locale: "en";
	animation-composition: replace;
	animation-timeline: auto;
}
.resources-and-page-H5Wwg {
	animation-composition: replace;
	animation-timeline: auto;
	view-transition-name: none;
}
.resources-and-page-DhnjD {
	baseline-source: auto;
	view-transition-name: none;
	white-space: normal;
}
.resources-and-page-ttvRt {
	animation-range: normal;
	view-timeline-inset: 0px;
	view-timeline: none;
}
.page-s2xeB {
	-webkit-locale: "en";
	animation-composition: replace;
	box-sizing: border-box;
}
.resources-and-page-gVsF7 {
	animation-range: normal;
	view-timeline: none;
	white-space: normal;
}
.resources-and-page-Rcha1 {
	-webkit-locale: "en";
	baseline-source: auto;
	view-transition-name: none;
}
.resources-and-page-IpOl6 {
	animation-timeline: auto;
	baseline-source: auto;
	view-transition-name: none;
}
.resources-and-page-LjTZb {
	-webkit-locale: "en";
	baseline-source: auto;
	white-space: normal;
}
.page-LWHzk {
	-webkit-locale: "en";
	animation-timeline: auto;
	box-sizing: border-box;
}
.page-4Qnj7 {
	animation-composition: replace;
	animation-timeline: auto;
	box-sizing: border-box;
}
.resources-and-page-UVWpn {
	animation-timeline: auto;
	baseline-source: auto;
	scroll-timeline: none;
}
.page-w9UAs {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	animation-timeline: auto;
	baseline-source: auto;
}
.resources-and-page-JLFsE {
	animation-range: normal;
	animation-timeline: auto;
	scroll-timeline: none;
}
.resources-and-page-rNoLW {
	baseline-source: auto;
	scroll-timeline: none;
	view-transition-name: none;
}
.resources-page-ZgcR9 {
	-webkit-locale: "en";
	box-sizing: border-box;
	view-timeline-inset: 0px;
}
.resources-page-Aw7NZ {
	animation-composition: replace;
	text-size-adjust: 100%;
	view-timeline-inset: 0px;
}
.resources-page-cJh3w {
	-webkit-locale: "en";
	animation-composition: replace;
	text-size-adjust: 100%;
}
.page-YMpYd {
	animation-timeline: auto;
	box-sizing: border-box;
	view-timeline-inset: 0px;
}
.page-hTyiM {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	view-timeline-inset: 0px;
}
.resources-and-page-dBDrq {
	animation-composition: replace;
	animation-timeline: auto;
	baseline-source: auto;
}
.resources-and-page-41IeF {
	animation-composition: replace;
	animation-range: normal;
	animation-timeline: auto;
}
.resources-page-FwSA7 {
	animation-timeline: auto;
	baseline-source: auto;
	text-size-adjust: 100%;
}
.resources-page-Vc2uJ {
	animation-range: normal;
	animation-timeline: auto;
	text-size-adjust: 100%;
}
.resources-and-page-Pybbz {
	animation-composition: replace;
	baseline-source: auto;
	scroll-timeline: none;
}
.resources-and-page-trZPE {
	animation-composition: replace;
	baseline-source: auto;
	view-timeline: none;
}
.resources-and-page-ehydZ {
	view-timeline: none;
	view-transition-name: none;
	white-space: normal;
}
.resources-and-page-D3FHg {
	baseline-source: auto;
	view-timeline: none;
	white-space: normal;
}
.and-page-mjtPf {
	-webkit-locale: "en";
	animation-composition: replace;
	baseline-source: auto;
}
.resources-and-page-rxdO4 {
	animation-range: normal;
	view-timeline: none;
	view-transition-name: none;
}
.resources-and-page-Rg3fD {
	animation-timeline: auto;
	view-timeline-inset: 0px;
	view-timeline: none;
}
.and-page-TslQr {
	animation-range: normal;
	animation-timeline: auto;
	view-timeline-inset: 0px;
}
.resources-and-page-uuuDq {
	animation-timeline: auto;
	view-timeline-inset: 0px;
	view-transition-name: none;
}
.resources-and-page-m4Oip {
	-webkit-locale: "en";
	animation-composition: replace;
	scroll-timeline: none;
}
.resources-and-page-Rx62S {
	animation-composition: replace;
	animation-timeline: auto;
	white-space: normal;
}
.resources-and-page-fQWaV {
	animation-composition: replace;
	animation-timeline: auto;
	scroll-timeline: none;
}
.resources-and-page-Dz2Zf {
	animation-composition: replace;
	animation-range: normal;
	scroll-timeline: none;
}
.resources-page-iP4Si {
	animation-timeline: auto;
	baseline-source: auto;
	box-sizing: border-box;
}
.resources-and-page-asqo0 {
	animation-range: normal;
	scroll-timeline: none;
	view-timeline-inset: 0px;
}
.resources-and-page-8EIZ5 {
	-webkit-locale: "en";
	view-timeline: none;
	view-transition-name: none;
}
.page-lhlcN {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	animation-composition: replace;
	baseline-source: auto;
}
.resources-and-page-sJ7Vo {
	baseline-source: auto;
	scroll-timeline: none;
	view-timeline-inset: 0px;
}
.resources-and-page-VVQL5 {
	animation-timeline: auto;
	scroll-timeline: none;
	view-timeline-inset: 0px;
}
.resources-and-page-Pn0r5 {
	animation-timeline: auto;
	view-timeline-inset: 0px;
	white-space: normal;
}
.and-page-S3AKD {
	-webkit-locale: "en";
	animation-timeline: auto;
	view-timeline-inset: 0px;
}
.resources-and-page-9DpB7 {
	animation-timeline: auto;
	baseline-source: auto;
	view-timeline-inset: 0px;
}
.page-C0KJu {
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	view-transition-name: none;
}
.page-NeoeH {
	-webkit-font-smoothing: antialiased;
	animation-composition: replace;
	view-transition-name: none;
}
.page-B4oiG {
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	animation-composition: replace;
}
.page-UDF71 {
	-webkit-font-smoothing: antialiased;
	baseline-source: auto;
	white-space: normal;
}
.page-MYfrn {
	-webkit-font-smoothing: antialiased;
	animation-timeline: auto;
	white-space: normal;
}
.page-bglKE {
	-webkit-font-smoothing: antialiased;
	text-emphasis-color: rgb(51, 51, 51);
	white-space: normal;
}
.page-tBpZO {
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-color: rgb(51, 51, 51);
	text-emphasis-color: rgb(51, 51, 51);
}
.page-ayksj {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	text-emphasis-color: rgb(51, 51, 51);
	white-space: normal;
}
.page-ckOWI {
	-webkit-font-smoothing: antialiased;
	animation-timeline: auto;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-ltp9q {
	animation-timeline: auto;
	text-emphasis-color: rgb(51, 51, 51);
	white-space: normal;
}
.page-Oxr2a {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	animation-timeline: auto;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-UwFuJ {
	-webkit-locale: "en";
	caret-color: rgb(51, 51, 51);
	view-transition-name: none;
}
.page-unPmo {
	caret-color: rgb(51, 51, 51);
	line-height: 20px;
	view-transition-name: none;
}
.page-MTIMP {
	-webkit-locale: "en";
	caret-color: rgb(51, 51, 51);
	line-height: 20px;
}
.page-MxOiN {
	-webkit-locale: "en";
	baseline-source: auto;
	caret-color: rgb(51, 51, 51);
}
.page-wVJ3t {
	baseline-source: auto;
	caret-color: rgb(51, 51, 51);
	line-height: 20px;
}
.page-7d4Ma {
	-webkit-text-fill-color: rgb(51, 51, 51);
	-webkit-text-stroke-color: rgb(51, 51, 51);
	text-emphasis-color: rgb(51, 51, 51);
}
.page-Wr5BK {
	-webkit-text-fill-color: rgb(51, 51, 51);
	text-emphasis-color: rgb(51, 51, 51);
	view-transition-name: none;
}
.page-uTyw9 {
	-webkit-text-fill-color: rgb(51, 51, 51);
	text-emphasis-color: rgb(51, 51, 51);
	white-space: normal;
}
.page-tEwJ7 {
	text-emphasis-color: rgb(51, 51, 51);
	view-transition-name: none;
	white-space: normal;
}
.page-tzTL9 {
	-webkit-text-fill-color: rgb(51, 51, 51);
	caret-color: rgb(51, 51, 51);
	text-emphasis-color: rgb(51, 51, 51);
}
.page-w4bE8 {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	caret-color: rgb(51, 51, 51);
	text-emphasis-color: rgb(51, 51, 51);
}
.page-SmJ1c {
	-webkit-text-fill-color: rgb(51, 51, 51);
	caret-color: rgb(51, 51, 51);
	white-space: normal;
}
.page-MDeIq {
	caret-color: rgb(51, 51, 51);
	text-emphasis-color: rgb(51, 51, 51);
	white-space: normal;
}
.page-F8Qcs {
	-webkit-locale: "en";
	-webkit-text-fill-color: rgb(51, 51, 51);
	-webkit-text-stroke-color: rgb(51, 51, 51);
}
.page-A1ni5 {
	-webkit-locale: "en";
	-webkit-text-stroke-color: rgb(51, 51, 51);
	view-transition-name: none;
}
.page-uqWiK {
	-webkit-locale: "en";
	-webkit-text-stroke-color: rgb(51, 51, 51);
	text-emphasis-color: rgb(51, 51, 51);
}
.page-0BTSN {
	-webkit-locale: "en";
	text-emphasis-color: rgb(51, 51, 51);
	view-transition-name: none;
}
.page-iGlJR {
	-webkit-locale: "en";
	-webkit-text-stroke-color: rgb(51, 51, 51);
	white-space: normal;
}
.page-AMZaE {
	-webkit-locale: "en";
	text-emphasis-color: rgb(51, 51, 51);
	white-space: normal;
}
.page-EM9p3 {
	-webkit-locale: "en";
	-webkit-text-stroke-color: rgb(51, 51, 51);
	caret-color: rgb(51, 51, 51);
}
.page-DUYHZ {
	line-height: 20px;
	scroll-timeline: none;
	view-timeline: none;
}
.page-an50a {
	line-height: 20px;
	scroll-timeline: none;
	text-size-adjust: 100%;
}
.page-EyGAF {
	line-height: 20px;
	view-timeline: none;
	view-transition-name: none;
}
.page-xwllG {
	line-height: 20px;
	view-timeline-inset: 0px;
	view-transition-name: none;
}
.page-4LPIV {
	animation-timeline: auto;
	line-height: 20px;
	view-transition-name: none;
}
.page-A1kF3 {
	-webkit-text-fill-color: rgb(51, 51, 51);
	animation-range: normal;
	box-sizing: border-box;
}
.page-ioQQr {
	-webkit-text-fill-color: rgb(51, 51, 51);
	animation-timeline: auto;
	view-transition-name: none;
}
.page-elIpU {
	-webkit-locale: "en";
	box-sizing: border-box;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-Gu9Rl {
	animation-composition: replace;
	box-sizing: border-box;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-lcRFP {
	-webkit-locale: "en";
	animation-composition: replace;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-hY6iV {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-BH8NG {
	-webkit-font-smoothing: antialiased;
	-webkit-locale: "en";
	box-sizing: border-box;
}
.page-zKguO {
	-webkit-font-smoothing: antialiased;
	animation-composition: replace;
	box-sizing: border-box;
}
.page-s1e9Z {
	-webkit-font-smoothing: antialiased;
	animation-composition: replace;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-CLS6D {
	-webkit-text-fill-color: rgb(51, 51, 51);
	animation-composition: replace;
	line-height: 20px;
}
.page-aWN6y {
	-webkit-text-fill-color: rgb(51, 51, 51);
	line-height: 20px;
	text-size-adjust: 100%;
}
.page-YMLFH {
	-webkit-font-smoothing: antialiased;
	animation-range: normal;
	scroll-timeline: none;
}
.page-74lv6 {
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
}
.page-ldg0o {
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	scroll-timeline: none;
}
.page-6QdRC {
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	animation-range: normal;
}
.page-jtM1j {
	-webkit-font-smoothing: antialiased;
	animation-range: normal;
	text-size-adjust: 100%;
}
.page-wsdT4 {
	-webkit-text-fill-color: rgb(51, 51, 51);
	baseline-source: auto;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-avUgP {
	baseline-source: auto;
	text-emphasis-color: rgb(51, 51, 51);
	view-timeline-inset: 0px;
}
.page-HngO4 {
	baseline-source: auto;
	caret-color: rgb(51, 51, 51);
	scroll-timeline: none;
}
.page-0tb4A {
	baseline-source: auto;
	caret-color: rgb(51, 51, 51);
	white-space: normal;
}
.page-jkkvw {
	animation-timeline: auto;
	caret-color: rgb(51, 51, 51);
	white-space: normal;
}
.page-vUN25 {
	caret-color: rgb(51, 51, 51);
	scroll-timeline: none;
	white-space: normal;
}
.page-M2wzQ {
	-webkit-font-smoothing: antialiased;
	-webkit-text-fill-color: rgb(51, 51, 51);
	animation-composition: replace;
}
.page-MJ14V {
	-webkit-font-smoothing: antialiased;
	animation-composition: replace;
	white-space: normal;
}
.page-zB3SP {
	-webkit-font-smoothing: antialiased;
	-webkit-text-fill-color: rgb(51, 51, 51);
	text-emphasis-color: rgb(51, 51, 51);
}
.page-ZwRFs {
	-webkit-text-fill-color: rgb(51, 51, 51);
	animation-composition: replace;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-9OwxZ {
	animation-composition: replace;
	text-emphasis-color: rgb(51, 51, 51);
	white-space: normal;
}
.page-6TPqH {
	-webkit-text-fill-color: rgb(51, 51, 51);
	animation-composition: replace;
	baseline-source: auto;
}
.page-bQayM {
	-webkit-font-smoothing: antialiased;
	animation-composition: replace;
	baseline-source: auto;
}
.page-ZOKmZ {
	-webkit-text-fill-color: rgb(51, 51, 51);
	baseline-source: auto;
	white-space: normal;
}
.page-P4wDj {
	animation-composition: replace;
	baseline-source: auto;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-jOmKh {
	-webkit-text-fill-color: rgb(51, 51, 51);
	animation-timeline: auto;
	caret-color: rgb(51, 51, 51);
}
.page-fOR2P {
	animation-range: normal;
	text-emphasis-color: rgb(51, 51, 51);
	white-space: normal;
}
.page-Og9GV {
	animation-range: normal;
	text-emphasis-color: rgb(51, 51, 51);
	view-transition-name: none;
}
.page-MVb7P {
	text-emphasis-color: rgb(51, 51, 51);
	text-size-adjust: 100%;
	white-space: normal;
}
.page-dtkce {
	animation-range: normal;
	text-emphasis-color: rgb(51, 51, 51);
	text-size-adjust: 100%;
}
.page-NstZ9 {
	text-emphasis-color: rgb(51, 51, 51);
	text-size-adjust: 100%;
	view-transition-name: none;
}
.page-BWfyz {
	-webkit-locale: "en";
	-webkit-text-stroke-color: rgb(51, 51, 51);
	text-decoration: none solid rgb(51, 51, 51);
}
.page-Rpqdg {
	-webkit-locale: "en";
	-webkit-text-stroke-color: rgb(51, 51, 51);
	line-height: 20px;
}
.page-zZKzk {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	line-height: 20px;
	text-size-adjust: 100%;
}
.page-NZO9c {
	-webkit-locale: "en";
	-webkit-text-stroke-color: rgb(51, 51, 51);
	text-size-adjust: 100%;
}
.page-n1KLY {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	line-height: 20px;
	scroll-timeline: none;
}
.page-8Dip4 {
	-webkit-locale: "en";
	scroll-timeline: none;
	text-decoration: none solid rgb(51, 51, 51);
}
.page-3ttnY {
	-webkit-locale: "en";
	line-height: 20px;
	scroll-timeline: none;
}
.page-Cau1l {
	-webkit-locale: "en";
	-webkit-text-stroke-color: rgb(51, 51, 51);
	scroll-timeline: none;
}
.page-xROPy {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	line-height: 20px;
	scroll-timeline: none;
}
.page-JcDjP {
	caret-color: rgb(51, 51, 51);
	line-height: 20px;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-T1p5V {
	animation-composition: replace;
	line-height: 20px;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-QHsYu {
	animation-composition: replace;
	animation-timeline: auto;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-WRCWZ {
	animation-composition: replace;
	caret-color: rgb(51, 51, 51);
	line-height: 20px;
}
.page-S3HNL {
	animation-composition: replace;
	caret-color: rgb(51, 51, 51);
	text-emphasis-color: rgb(51, 51, 51);
}
.page-iKI7g {
	-webkit-font-smoothing: antialiased;
	animation-composition: replace;
	caret-color: rgb(51, 51, 51);
}
.page-mO1lz {
	caret-color: rgb(51, 51, 51);
	scroll-timeline: none;
	view-timeline: none;
}
.page-M39L6 {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	caret-color: rgb(51, 51, 51);
	scroll-timeline: none;
}
.page-BaBpM {
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	caret-color: rgb(51, 51, 51);
}
.page-uWkx7 {
	-webkit-locale: "en";
	caret-color: rgb(51, 51, 51);
	scroll-timeline: none;
}
.page-cwY2A {
	caret-color: rgb(51, 51, 51);
	scroll-timeline: none;
	view-transition-name: none;
}
.page-bxk0w {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	caret-color: rgb(51, 51, 51);
	view-transition-name: none;
}
.page-Tf8sJ {
	animation-range: normal;
	caret-color: rgb(51, 51, 51);
	scroll-timeline: none;
}
.page-viuzr {
	animation-range: normal;
	caret-color: rgb(51, 51, 51);
	view-transition-name: none;
}
.page-Z8aSJ {
	animation-composition: replace;
	text-emphasis-color: rgb(51, 51, 51);
	view-transition-name: none;
}
.page-cJ3dR {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	animation-composition: replace;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-4UxIv {
	baseline-source: auto;
	text-emphasis-color: rgb(51, 51, 51);
	text-size-adjust: 100%;
}
.page-lOwkZ {
	baseline-source: auto;
	caret-color: rgb(51, 51, 51);
	text-emphasis-color: rgb(51, 51, 51);
}
.page-KNYqD {
	animation-composition: replace;
	text-emphasis-color: rgb(51, 51, 51);
	text-size-adjust: 100%;
}
.page-AHAZq {
	-webkit-locale: "en";
	animation-composition: replace;
	caret-color: rgb(51, 51, 51);
}
.page-aqp0P {
	animation-composition: replace;
	baseline-source: auto;
	caret-color: rgb(51, 51, 51);
}
.page-bE9md {
	text-emphasis-color: rgb(51, 51, 51);
	view-timeline-inset: 0px;
	view-transition-name: none;
}
.page-ldeV9 {
	animation-range: normal;
	text-emphasis-color: rgb(51, 51, 51);
	view-timeline-inset: 0px;
}
.page-3FeW8 {
	animation-range: normal;
	line-height: 20px;
	view-transition-name: none;
}
.page-abqOq {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	scroll-timeline: none;
	view-transition-name: none;
}
.page-CB48m {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	animation-range: normal;
	scroll-timeline: none;
}
.page-e8pP4 {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	animation-range: normal;
	view-transition-name: none;
}
.page-PioJj {
	scroll-timeline: none;
	text-emphasis-color: rgb(51, 51, 51);
	view-transition-name: none;
}
.page-yhx8j {
	caret-color: rgb(51, 51, 51);
	scroll-timeline: none;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-OSElD {
	animation-range: normal;
	scroll-timeline: none;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-zcjiE {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	scroll-timeline: none;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-U0Rxu {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	animation-range: normal;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-GpdlC {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	baseline-source: auto;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-cUGCx {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	baseline-source: auto;
	line-height: 20px;
}
.page-ej7KH {
	baseline-source: auto;
	line-height: 20px;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-SWPE6 {
	animation-composition: replace;
	caret-color: rgb(51, 51, 51);
	scroll-timeline: none;
}
.page-tNLj6 {
	caret-color: rgb(51, 51, 51);
	scroll-timeline: none;
	text-size-adjust: 100%;
}
.page-SpEkr {
	-webkit-font-smoothing: antialiased;
	view-transition-name: none;
	white-space: normal;
}
.page-B47lv {
	-webkit-text-fill-color: rgb(51, 51, 51);
	view-timeline: none;
	view-transition-name: none;
}
.page-Aieew {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	animation-timeline: auto;
	view-transition-name: none;
}
.page-4GWYI {
	-webkit-font-smoothing: antialiased;
	text-emphasis-color: rgb(51, 51, 51);
	text-size-adjust: 100%;
}
.page-ONWBc {
	box-sizing: border-box;
	text-emphasis-color: rgb(51, 51, 51);
	text-size-adjust: 100%;
}
.page-yogCI {
	line-height: 20px;
	scroll-timeline: none;
	view-transition-name: none;
}
.page-Rpdv3 {
	-webkit-font-smoothing: antialiased;
	animation-timeline: auto;
	box-sizing: border-box;
}
.page-GuUAD {
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-fill-color: rgb(51, 51, 51);
}
.page-6PAgt {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	animation-composition: replace;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-fqhi8 {
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-color: rgb(51, 51, 51);
	animation-composition: replace;
}
.page-rz4Au {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	animation-range: normal;
	box-sizing: border-box;
}
.page-4tLIz {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	text-size-adjust: 100%;
	view-transition-name: none;
}
.page-pW0St {
	-webkit-text-fill-color: rgb(51, 51, 51);
	text-size-adjust: 100%;
	view-transition-name: none;
}
.page-IRgsN {
	-webkit-locale: "en";
	-webkit-text-fill-color: rgb(51, 51, 51);
	scroll-timeline: none;
}
.page-LTv8u {
	-webkit-text-fill-color: rgb(51, 51, 51);
	animation-timeline: auto;
	box-sizing: border-box;
}
.page-azRD6 {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	animation-composition: replace;
	view-transition-name: none;
}
.page-YZ9ei {
	-webkit-text-fill-color: rgb(51, 51, 51);
	-webkit-text-stroke-color: rgb(51, 51, 51);
	animation-composition: replace;
}
.page-GjLyp {
	-webkit-text-fill-color: rgb(51, 51, 51);
	animation-composition: replace;
	animation-timeline: auto;
}
.page-DGB7T {
	line-height: 20px;
	view-transition-name: none;
	white-space: normal;
}
.page-Fwrg8 {
	caret-color: rgb(51, 51, 51);
	line-height: 20px;
	white-space: normal;
}
.page-dhbEc {
	-webkit-text-fill-color: rgb(51, 51, 51);
	line-height: 20px;
	view-transition-name: none;
}
.page-4m39S {
	-webkit-text-fill-color: rgb(51, 51, 51);
	caret-color: rgb(51, 51, 51);
	line-height: 20px;
}
.page-7nhv6 {
	animation-timeline: auto;
	box-sizing: border-box;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-utK64 {
	animation-timeline: auto;
	text-emphasis-color: rgb(51, 51, 51);
	text-size-adjust: 100%;
}
.page-8pDFY {
	box-sizing: border-box;
	text-emphasis-color: rgb(51, 51, 51);
	view-timeline-inset: 0px;
}
.page-zfJoK {
	animation-timeline: auto;
	text-emphasis-color: rgb(51, 51, 51);
	view-timeline-inset: 0px;
}
.page-NTpSZ {
	text-emphasis-color: rgb(51, 51, 51);
	text-size-adjust: 100%;
	view-timeline-inset: 0px;
}
.page-dkgwv {
	-webkit-locale: "en";
	-webkit-text-stroke-color: rgb(51, 51, 51);
	baseline-source: auto;
}
.page-nYePB {
	scroll-timeline: none;
	text-emphasis-color: rgb(51, 51, 51);
	view-timeline-inset: 0px;
}
.page-mWuFf {
	animation-timeline: auto;
	text-emphasis-color: rgb(51, 51, 51);
	view-transition-name: none;
}
.page-y9IyH {
	animation-timeline: auto;
	scroll-timeline: none;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-RTire {
	scroll-timeline: none;
	text-emphasis-color: rgb(51, 51, 51);
	white-space: normal;
}
.page-VDlzM {
	text-emphasis-color: rgb(51, 51, 51);
	view-timeline-inset: 0px;
	white-space: normal;
}
.page-gFkww {
	box-sizing: border-box;
	scroll-timeline: none;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-5nCNA {
	caret-color: rgb(51, 51, 51);
	text-size-adjust: 100%;
	view-timeline-inset: 0px;
}
.page-jh51O {
	-webkit-text-fill-color: rgb(51, 51, 51);
	text-size-adjust: 100%;
	view-timeline-inset: 0px;
}
.page-5fmhJ {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	scroll-timeline: none;
	view-timeline: none;
}
.page-18coc {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	animation-composition: replace;
	caret-color: rgb(51, 51, 51);
}
.page-cLl0n {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	animation-composition: replace;
	scroll-timeline: none;
}
.page-RbnIU {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	animation-range: normal;
	animation-timeline: auto;
}
.page-bQK7S {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	animation-composition: replace;
	baseline-source: auto;
}
.page-v2vek {
	-webkit-text-fill-color: rgb(51, 51, 51);
	baseline-source: auto;
	text-size-adjust: 100%;
}
.page-NNtaj {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	caret-color: rgb(51, 51, 51);
	line-height: 20px;
}
.page-uAYqR {
	-webkit-text-fill-color: rgb(51, 51, 51);
	animation-composition: replace;
	caret-color: rgb(51, 51, 51);
}
.page-LUNTJ {
	baseline-source: auto;
	scroll-timeline: none;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-IcrfG {
	-webkit-locale: "en";
	-webkit-text-stroke-color: rgb(51, 51, 51);
	animation-composition: replace;
}
.page-FcekQ {
	animation-composition: replace;
	scroll-timeline: none;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-ch890 {
	-webkit-font-smoothing: antialiased;
	caret-color: rgb(51, 51, 51);
	view-timeline-inset: 0px;
}
.page-ZIFae {
	-webkit-locale: "en";
	caret-color: rgb(51, 51, 51);
	view-timeline-inset: 0px;
}
.page-WSJkI {
	baseline-source: auto;
	caret-color: rgb(51, 51, 51);
	view-timeline-inset: 0px;
}
.page-nETf0 {
	caret-color: rgb(51, 51, 51);
	line-height: 20px;
	scroll-timeline: none;
}
.page-7tUkB {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	caret-color: rgb(51, 51, 51);
	line-height: 20px;
}
.page-fhaOn {
	line-height: 20px;
	scroll-timeline: none;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-gYNnl {
	caret-color: rgb(51, 51, 51);
	scroll-timeline: none;
	view-timeline-inset: 0px;
}
.page-nm8bl {
	animation-range: normal;
	caret-color: rgb(51, 51, 51);
	view-timeline-inset: 0px;
}
.page-nprOJ {
	-webkit-text-fill-color: rgb(51, 51, 51);
	view-timeline-inset: 0px;
	view-timeline: none;
}
.page-n6ufK {
	scroll-timeline: none;
	text-emphasis-color: rgb(51, 51, 51);
	view-timeline: none;
}
.page-76jT1 {
	-webkit-text-fill-color: rgb(51, 51, 51);
	scroll-timeline: none;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-pO0ct {
	-webkit-font-smoothing: antialiased;
	animation-range: normal;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-iYYHG {
	box-sizing: border-box;
	caret-color: rgb(51, 51, 51);
	view-timeline-inset: 0px;
}
.page-1VVLD {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	caret-color: rgb(51, 51, 51);
	white-space: normal;
}
.page-6t9tQ {
	-webkit-font-smoothing: antialiased;
	animation-composition: replace;
	scroll-timeline: none;
}
.page-w6VGT {
	caret-color: rgb(51, 51, 51);
	line-height: 20px;
	view-timeline-inset: 0px;
}
.page-VFazD {
	animation-composition: replace;
	caret-color: rgb(51, 51, 51);
	white-space: normal;
}
.page-beOQF {
	-webkit-locale: "en";
	-webkit-text-stroke-color: rgb(51, 51, 51);
	animation-range: normal;
}
.page-Atxpy {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	line-height: 20px;
	view-transition-name: none;
}
.page-oc58k {
	box-sizing: border-box;
	line-height: 20px;
	scroll-timeline: none;
}
.page-BfMJq {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	animation-timeline: auto;
	box-sizing: border-box;
}
.page-MrL5Q {
	animation-composition: replace;
	caret-color: rgb(51, 51, 51);
	view-transition-name: none;
}
.page-1eWjV {
	animation-composition: replace;
	box-sizing: border-box;
	caret-color: rgb(51, 51, 51);
}
.page-oauIc {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	baseline-source: auto;
	view-timeline-inset: 0px;
}
.page-KOJNp {
	baseline-source: auto;
	line-height: 20px;
	view-timeline-inset: 0px;
}
.page-LzSOY {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	view-timeline-inset: 0px;
	view-transition-name: none;
}
.page-YBzms {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	line-height: 20px;
	white-space: normal;
}
.page-Glbfk {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	box-sizing: border-box;
	view-timeline-inset: 0px;
}
.page-Cyo8p {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	text-emphasis-color: rgb(51, 51, 51);
	view-timeline-inset: 0px;
}
.page-EYkGO {
	line-height: 20px;
	text-emphasis-color: rgb(51, 51, 51);
	text-size-adjust: 100%;
}
.page-sKDrE {
	line-height: 20px;
	text-size-adjust: 100%;
	view-timeline-inset: 0px;
}
.page-9by5z {
	line-height: 20px;
	text-emphasis-color: rgb(51, 51, 51);
	view-transition-name: none;
}
.page-kLhop {
	animation-composition: replace;
	text-emphasis-color: rgb(51, 51, 51);
	view-timeline-inset: 0px;
}
.page-fxPh5 {
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-size-adjust: 100%;
}
.page-FzmkT {
	baseline-source: auto;
	text-emphasis-color: rgb(51, 51, 51);
	view-transition-name: none;
}
.page-Aiquo {
	caret-color: rgb(51, 51, 51);
	view-timeline: none;
	white-space: normal;
}
.page-s6lr8 {
	-webkit-locale: "en";
	scroll-timeline: none;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-TqRgz {
	-webkit-text-fill-color: rgb(51, 51, 51);
	baseline-source: auto;
	view-timeline: none;
}
.page-qwGuI {
	-webkit-locale: "en";
	line-height: 20px;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-U6lz2 {
	caret-color: rgb(51, 51, 51);
	view-timeline-inset: 0px;
	view-transition-name: none;
}
.page-4cVjC {
	text-emphasis-color: rgb(51, 51, 51);
	view-timeline: none;
	view-transition-name: none;
}
.page-khmOS {
	line-height: 20px;
	text-emphasis-color: rgb(51, 51, 51);
	white-space: normal;
}
.page-77ew1 {
	-webkit-locale: "en";
	animation-timeline: auto;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-iO9DG {
	-webkit-font-smoothing: antialiased;
	scroll-timeline: none;
	text-emphasis-color: rgb(51, 51, 51);
}
.page-ndkyF {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-stroke-color: rgb(51, 51, 51);
	white-space: normal;
}
.page-taPLD {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	animation-composition: replace;
	box-sizing: border-box;
}
.page-ciqum {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	baseline-source: auto;
	scroll-timeline: none;
}
.page-3W9so {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	baseline-source: auto;
	view-timeline: none;
}
.page-FsY6U {
	-webkit-text-stroke-color: rgb(51, 51, 51);
	animation-range: normal;
	line-height: 20px;
}
.resources-and-tw2S6 {
	animation-composition: replace;
	view-timeline-inset: 0px;
	white-space: normal;
}
.resources-and-01O1L {
	-webkit-locale: "en";
	animation-composition: replace;
	view-timeline-inset: 0px;
}
.resources-and-A7qGD {
	animation-composition: replace;
	animation-timeline: auto;
	view-timeline: none;
}
.resources-and-wZ3Ym {
	animation-composition: replace;
	animation-range: normal;
	view-timeline: none;
}
.resources-and-kjJGO {
	-webkit-locale: "en";
	animation-composition: replace;
	animation-range: normal;
}
.resources-and-dBBfV {
	animation-composition: replace;
	view-timeline-inset: 0px;
	view-timeline: none;
}
.and-JTeQo {
	-webkit-locale: "en";
	view-timeline: none;
	white-space: normal;
}
.resources-and-rrVJx {
	animation-composition: replace;
	scroll-timeline: none;
	white-space: normal;
}
.resources-and-EUcbV {
	view-timeline-inset: 0px;
	view-timeline: none;
	white-space: normal;
}
.resources-and-R8wlM {
	-webkit-locale: "en";
	animation-timeline: auto;
	white-space: normal;
}
.resources-and-Iz1Vo {
	-webkit-locale: "en";
	animation-range: normal;
	animation-timeline: auto;
}
.and-t6lxQ {
	-webkit-locale: "en";
	animation-composition: replace;
	view-timeline: none;
}
.resources-and-wCl96 {
	animation-composition: replace;
	view-timeline: none;
	view-transition-name: none;
}
.resources-and-D3ivK {
	-webkit-locale: "en";
	animation-composition: replace;
	white-space: normal;
}
.resources-and-my0P1 {
	animation-composition: replace;
	view-timeline: none;
	white-space: normal;
}
.resources-and-LY781 {
	animation-composition: replace;
	view-transition-name: none;
	white-space: normal;
}
.resources-iLrz0 {
	-webkit-locale: "en";
	box-sizing: border-box;
	white-space: normal;
}
.resources-TKLqg {
	-webkit-locale: "en";
	box-sizing: border-box;
	view-transition-name: none;
}
.resources-Sjc7d {
	box-sizing: border-box;
	view-transition-name: none;
	white-space: normal;
}
.resources-7YNDR {
	animation-composition: replace;
	animation-range: normal;
	text-size-adjust: 100%;
}
.resources-BwNFI {
	animation-range: normal;
	text-size-adjust: 100%;
	view-timeline: none;
}
.resources-QBbR0 {
	animation-timeline: auto;
	text-size-adjust: 100%;
	view-timeline-inset: 0px;
}
.resources-mL43z {
	box-sizing: border-box;
	scroll-timeline: none;
	white-space: normal;
}
.resources-ixllp {
	baseline-source: auto;
	box-sizing: border-box;
	scroll-timeline: none;
}
.resources-qDFcf {
	animation-composition: replace;
	text-size-adjust: 100%;
	white-space: normal;
}
.resources-clk09 {
	box-sizing: border-box;
	view-timeline: none;
	view-transition-name: none;
}
.resources-IyvsD {
	baseline-source: auto;
	box-sizing: border-box;
	view-transition-name: none;
}
.resources-jpkKA {
	baseline-source: auto;
	text-size-adjust: 100%;
	view-timeline: none;
}
.resources-93nTt {
	animation-timeline: auto;
	text-size-adjust: 100%;
	white-space: normal;
}
